In [121]:
import pandas as pd

In [132]:
df = pd.read_excel('data.xlsx')
df.head()

         x1        x2        x3        x4         y
0  0.282921  0.865706  0.710937  0.266335  0.345657
1  0.981753  0.899750  0.311383  0.478983  0.311212
2  0.804480  0.419108  0.090164  0.293918 -0.160669
3  0.210645  0.497747  0.952365  0.781148  0.516331
4  0.144592  0.067859  0.817551  0.281274  0.044167

In [123]:
X = df[['x1','x2','x3','x4']]
Y = df['y']

In [136]:
weights = np.ones(len(X.columns))
b = i = 0
lr = 0.01
n,c_ = X.shape
a = 1
while True: 
    y_pred = np.dot(X,weights) + b
    loss = np.sum((y_pred-Y)**2)/n
    if abs(loss-a)< 1E-15: 
        print ("/n/n----------Result-------------/n")
        print ("i: {} , weights : {} , b {:.2f} , loss : {:.10f}".format(i, weights, b,loss))
        break
    if i%10000==0:
        print ("i: {} , weights : {} , b {:.2f} , loss : {:.10f} ".format(i, weights, b,loss))
        
    weight_change = -(2/n)*np.dot((Y-y_pred),X)*lr  #mse cost fucntion 
    bch =  -(2/n)* np.sum(Y-y_pred)
    weights = weights -weight_change
    b = b -lr *bch
    a = loss
    i = i+1
print ("Done")

i: 0 , weights : [1. 1. 1. 1.] , b 0.00 , loss : 3.3880843426
i: 10000 , weights : [0.39310308 0.4610142  0.81793936 0.34692938] , b -0.86 , loss : 0.0043986025
i: 20000 , weights : [0.40241389 0.45768824 0.82713586 0.34601977] , b -0.87 , loss : 0.0043959795
i: 30000 , weights : [0.40486608 0.45680793 0.82956262 0.34581962] , b -0.87 , loss : 0.0043957967
i: 40000 , weights : [0.40551366 0.45657545 0.83020349 0.3457668 ] , b -0.87 , loss : 0.0043957839
i: 50000 , weights : [0.40568467 0.45651405 0.83037273 0.34575285] , b -0.87 , loss : 0.0043957830
i: 60000 , weights : [0.40572983 0.45649784 0.83041743 0.34574916] , b -0.87 , loss : 0.0043957830
/n/n----------Result-------------/n
i: 60782 , weights : [0.40573144 0.45649726 0.83041901 0.34574903] , b -0.87 , loss : 0.0043957830
Done